User#welcome


Welcome to example.com, <%= @user.email %></h1>

You have successfully signed up to example.com,
your username is: <%= @user.username %>.<br>

To login to the site, just follow this link: <%=  user_url(@user) %>.
Thanks for joining and have a great day!
