<%# Shows the User%>

<div id = "friends">
    <h1>Friends</h1>
    <% @user.true_friends.each do |friend|%>
            <li>
                <%# friend request you already sent%>
                <%= friend.email %>
                (<%# link_to "remove", , data: {turbo_method: "delete"}%>)
            </li>
    <% end %>
</div>