form.post {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;

}
div.clickables {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-evenly;
}
